# Flask / Python configuration files
config.py
__pycache__/
*.py[cod]
*$py.class

# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Local Environment Variables
.env
.env.local
.env.*
!.env.example

# IDEs and OS files
.idea/
.vscode/
.DS_Store
*.log
