# MariaDB Database Connection Info
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# AES-256 Symmetric Key (Base64-encoded, 32 bytes)
AES_KEY=

# AI Wallet Generation Server URL
AI_SERVER_URL=
 
# NFC AES-128 Master Key (32-character Hex string)
NFC_KEY=
